/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: slategrey;
  color: white;
  text-align: center;
}

h1 {
  font-family: verdana, arial, sans-serif;
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button{
  width: 200px;
  height: 200px;
  margin: 2px;
}

#button1 {
  background: lightgreen;
}

#button1:active, #button1.lit {
  background: green;
}

#button2 {
  background: pink;
}

#button2:active, #button2.lit {
  background: red;
}

#button3 {
  background: lightyellow;
}

#button3:active, #button3.lit {
  background: yellow;
}

#button4 {
  background: lightblue;
}

#button4:active, #button4.lit {
  background: blue;
}

#button5 {
  background: #ffd699; /* Used an HTML color picker */
}

#button5:active, #button5.lit {
  background: orange;
}

.hidden {
  display: none;
}

/* stuff added by me */

footer{
  position: fixed;
  padding: 10px 10px 10px 10px;
  bottom: 0;
  
  left: 0; /* lol */
  
  width: 100%;
  /* Height of the footer*/ 
  background: grey;
  
  text-align: center;
  padding: 3px;
  color: white;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.footerText{
  color: darkgrey;
}


/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}